/* cuprum-regular - cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
  url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}
/* cuprum-italic - cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
  url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
}
/* cuprum-700 - cyrillic */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
  url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}
/* pt-sans-regular - cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}
/* pt-sans-700 - cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
}

fieldset {
  border: none;
}

button {
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.catalog-page {
  font-family: 'PT Sans', Arial, sans-serif;
}

.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 14px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.button--white {
  background-color: #ffffff;
  color: #000000;
  text-transform: capitalize;
}

.button--phone {
  background-color: #f4f7f9;
}

.button--slide:hover,
.button--slide:focus {
  background-color: #ca2c37;
}

.button--slide:active {
  background-color: #ba2732;
}

.button--slide--left,
.button--slide--right {
  background-color: unset;
}

.button--advantage {
  background-color: rgba(255, 255, 255, 0.1);
}

.button--advantage:hover,
.button--advantage:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.button--advantage:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.button--login:hover,
.button--login:focus,
.button--registration:hover,
.button--registration:focus {
  color: #ee3643;
}

.button--registration:active,
.button--registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.button--logout {
  font-size: 21px;
}

.button--logout:active {
  color: rgba(0, 0, 0, 0.3);
}

.button--filter {
  font-family: 'PT Sans', Arial, sans-serif;
}

.button--item--filled {
  background-color: #63a63e;
}

.button--item--filled:hover,
.button--item--filled:focus {
  background-color: #5fbb2d;
}

.button--item--filled:focus {
  background-color: #518534;
}

.button--item--no-filled {
  color: #32425c;
  background-color: #ffffff;
}

.button--item--no-filled:hover,
.button--item--no-filled:focus {
  background-color: #ffffff;
}

.button--item--no-filled:focus {
  color: rgba(50, 66, 92, 0.3);
  background-color: #ffffff;
}

.navigation--header {
  background-color: #32425c;
}

.navigation__list a {
  color: #ffffff;
}

.navigation--header li:hover,
.navigation--header li:focus {
  background-color: #293449;
}

.navigation--header li:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.navigation--footer li:hover,
.navigation--footer li:focus {
  text-decoration: underline;
}

.navigation--footer li:active {
  opacity: 0.5;
  text-decoration: none;
}

.navigation__list--goods a {
  color: #ffd180;
}

.main-section-heade {
  background-color: #f9f5f0;
}

.main-section-header__title {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-item {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.catalog-item__title {
  font-size: 18px;
  color: #000000;
}

.catalog-item__price del {
  font-size: 17px;
  color: #a9a9a9;
}

.catalog-item__price span {
  font-size: 17px;
  color: #ffffff;
}

.section__title {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.section__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.service-card__title {
  font-size: 36px;
  color: #32425c;
}

.service-card__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.form__fields-list label {
  font-size: 18px;
  color: #000000;
}

.form__fields-list--checkbox label,
.form__fields-list--radio label {
  font-size: 15px;
  color: #000000;
}


.form__fields-list input[placeholder] {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  color: #a9a9a9;
}

.form__fieldset--price p {
  background-color: #f7f3ec;
}

.form__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.form--search input,
.form--search button {
  background-color: #293449;
  border: none;
}

.form--search:hover input,
.form--search:focus input,
.form--search:hover button,
.form--search:focus button {
  background-color: #212a3a;
}

.form--search input[placeholder] {
  color: #ffffff;
}





.main-header__logo {
  background-color: #ee3643;
}

.main-header__logo:hover,
.main-header__logo:focus {
  background-color: #ca2c37;
}

.main-header__logo:active {
  background-color: #ba2732;
}

.main-header__container {
  font-size: 17px;
  color: #ffffff;
}

.main-header__container--top {
  background-color: #293449;
}

.main-header__container--bottom {
  background-color: #f4f7f9;
}

.main-header__block {
  color: white;
}

.main-header__block--bookmarks:hover,
.main-header__block--basket:hover,
.main-header__block--bookmarks:focus,
.main-header__block--basket:focus {
  background-color: #212a3a;
}

.main-header__block--bookmarks:active,
.main-header__block--basket:active {
  background-color: #161d29;
}

.main-header__block--checkout {
  background-color: #63a63e;
}

.main-header__block--checkout:hover,
.main-header__block--checkout:focus {
  background-color: #5fbb2d;
}

.main-header__block--checkout:active {
  opacity: 0.5;
}

.main-header__text {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.main-header__contacts {
  font-size: 14px;
  color: #32425c;
}

.main-header__contacts a {
  font-size: 21px;
  color: #ee3643;
}

.main-header__button {
  font-size: 21px;
}

.main-header__user-menu {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.main-header__user-menu:hover,
.main-header__user-menu:focus {
  color: #ee3643;
}

.main-header__user-menu:focus {
  color: rgba(50, 66, 92, 0.3);
}





.main-slider {
  color: #ffffff;
}

.main-slider__text--type {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-slider__text--tagline {
  font-size: 18px;
}

.advantages {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.advantages__item:first-child {
  background-color: #ffbf47;
}

.advantages__item:nth-child(2) {
  background-color: #3bbce3;
}

.advantages__item:nth-child(3) {
  background-color: #dc91d8;
}

.advantages__item:nth-child(4) {
  background-color: #8ed78f;
}

.advantages__item:last-child {
  background-color: #ffc047;
}

.services {
  background-color: #f4f7f9;
}

.services__selector {
  background-color: #32425c;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.services__selector:hover,
.services__selector:focus {
  background-color: #293449;
}

.services__selector--current {
  background-color: #ffffff;
  color: #32425c;
}

.services__selector--current:hover,
.services__selector--current:focus {
  background-color: #ffffff;
  color: #32425c;
}

.about-company__item a {
  font-size: 18px;
  color: #000000;
}

.page-title {
  font-size: 30px;
  color: #32425c;
}

.breadcrumbs {
  font-size: 13px;
  color: #000000;
}

.catalog-page-section__title {
  font-size: 13px;
  color: #000000;
}

.filters__title {
  background-color: #f7f3ec;
}

.sorting__list {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting__item:hover,
.sorting__item:focus {
  color: #000000;
}

.sorting__item--current {
  color: #ee3643;
}

.catalog-item__motivator {
  background-color: #ee3643;
  color: #ffffff;
  text-transform: lowercase;
  font-size: 13px;
}

.pagination {
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.pagination__item--current {
  background-color: #ee3643;
  color: #ffffff;
}





.main-footer__block {
  font-size: 18px;
  color: #ffffff;
}

.main-footer__block--top {
  background-color: #32425c;
}

.main-footer__contacts {
  line-height: 1.33;
  color: #f3f7f9;
}

.main-footer__block--bottom {
  background-color: #293449;
}

.main-footer__text {
  font-size: 16px;
}

.main-footer__link {
  font-size: 16px;
  color: #ffd180;
}
